﻿
@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}

<div class="floor" id="flat-entity-floor">
    <div class="control-panel">
        <a href="/Home/Index" class="tile">
            <span class="icon-menu2"></span>
            <span class="screen-reader-text">Home</span>
        </a>
        <h1>MikMak</h1>
    </div>
    <form class="showroom" action="/Country/Insert" method="post">
        <header>
            <h2>Insert nieuw land</h2>
            <div id="command-panel" class="command-panel">
                <button type="submit" name="action" id="Updating" value="Updating" class="tile">
                    <span class="icon-pencil"></span>
                    <span class="screen-reader-text">Updating</span>
                </button>
                <button type="submit" name="action" id="Inserting" value="Inserting" class="tile">
                    <span class="icon-plus"></span>
                    <span class="screen-reader-text">Inserting</span>
                </button>
                <button type="submit" name="action" id="Delete" value="Delete" class="tile">
                    <span class="icon-remove"></span>
                    <span class="screen-reader-text">Delete</span>
                </button>
                <a href="/Country/InsertingCancel" class="tile">
                    <span class="icon-close"></span>
                    <span class="screen-reader-text">Annuleren</span>
                </a>
            </div>
        </header>
        @Html.Action("ReadingAll")
        <div class="detail">
            <fieldset>
                <div>
                    <label for="CountryCode">Code</label>
                    <input id="CountryCode" name="CountryCode" class="text"
                           style="width: 22.5%;" type="text" value="" required />
                </div>
                <div>
                    <label for="CountryName">Naam</label>
                    <input id="CountryName" name="CountryName" class="text"
                           style="width: 32.5%;" type="text" value="" required />
                </div>
                <div>
                    <label for="CountryLanguage">Taal</label>
                    <input id="CountryLanguae" name="CountryLanguage" class="text"
                           style="width: 32.5%;" type="text" value="" required />
                </div>
            
            </fieldset>
            <div class="feedback">
            </div>
        </div>
    </form>
</div>