* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-size: 0.9em;
    font-family: Verdana, Arial, sans-serif;
}

h2 {
    display: inline;
    float: left;
    margin: 0.3em;
    line-height: 1.2em;
}

footer {
    height: 15%;
}

/* geen one page app, floor is altijd zichtbaar */

.floor {
    display: block;
}

table {
    font-size: 0.9em;
}

ol, ul {
    list-style-position: inside;
}

/* ---------------- size of tiles and wallpaper---------------------*/
.control-panel .tile {
    width: 7%;
    height: 100%;
}

/* size of the showroom tiles on the first-floor */
#adminindex-floor .showroom .tile {
    width: 25%;
    height: 33.33%;
}

    /* kleurpatroon admin index pagina
The :nth-child(an+b) CSS pseudo-class matches an element that has 
an+b-1 siblings before it in the document tree, for a given 
positive or zero value for n, and has a parent element.

This can more clearly be described this way: 
the matching element is the bth child of an element after 
all its children have been split into groups of a elements each.

The values a and b must both be integers, and the index of 
an element's first child is 1.

In other words, this class matches all children whose index 
fall in the set { an + b; n = 0, 1, 2, ... }.
*/

/* Whizzy */
#adminindex-floor .showroom .tile:nth-child(5n + 1) {
    background: rgba(187,117,70, 0.9);
}

/* fade into background */
#adminindex-floor .showroom .tile:nth-child(5n + 2) {
    background: rgba(247,240,223, 0.9);
}

/* Penguin */
#adminindex-floor .showroom .tile:nth-child(5n + 3) {
    background: rgba(205,192,185, 0.9);
}

/* 120 */
#adminindex-floor .showroom .tile:nth-child(5n + 4) {
    background: rgba(123,129,120, 0.9);
}

/* Shamrock */
#adminindex-floor .showroom .tile:nth-child(5n + 5) {
    background: rgba(0,158,96, 0.9);
}

/* overschrijf tegel 2 en 4 met logo */
#adminindex-floor .showroom .tile:nth-child(3) {
    width: 50%;
    background-image: url('../images/inantwerpen.png');
    background-size: cover;
}

/* --------------- patroon verdiep tabel zonder foreign keys ------------------- */
#flat-entity-floor .showroom {
    background-color: rgb(248,223,203);
    border-bottom: 4px solid #fff;
    height: 100%;
}

/* header */
#flat-entity-floor .showroom header {
    width: 70%;
    height: 7%;
    background: rgb(207,90,80);
    float: left;
    /* geen right border, de knop heeft die al border-right: 4px solid #fff; */
    border-bottom: 4px solid #fff;
}

/* voor alle detail views */
.detail {
    overflow-y: auto;
}

/* detail side */
#flat-entity-floor .showroom > .detail {
    width: 70%;
    height: 93%;
    background: rgba(255,248,231, 0.9);
    float: left;
}

/* list side */
#flat-entity-floor .showroom > .list {
    width: 30%;
    height: 100%;
    background: rgba(255,248,231, 0.9);
    overflow-y: auto;
    float: right;
    border-left: 4px solid #fff;
}

/* list nav */
#flat-entity-floor .showroom > .list nav {
    padding: 0 0 0 0.4em;
}

/* feedback */
#flat-entity-floor .showroom > .feedback {
    width: 70%;
    height: 7.5%;
    background: rgb(42,99,118);
    float: left;
}

/* command panel */
.command-panel {
    margin: 0;
    padding: 0;
    float: right;
    height: 100%;
}

.command-panel .tile {
    color: white;
    background-color: #3b444b; /*arsenic*/
    text-align: center;
    border: 0;
    border-left: 4px solid #fff;
    line-height: 1.2em;
    font-size: 3vh;
    height: 100%;
    min-width: 2.3em;
    min-height: 2em;
    float: right;
    overflow: hidden;
    padding-left: 0.1em;
    padding-top: 0.4em;
}

.command-panel input[type=text] {
    font-size: 1.8em;
    height: 100%;
    background-color: rgb(254,175,186);
    cursor: pointer;
}

/* standaard hover kan overschreven worden door ander schema */
.command-panel .tile:hover{
    color: rgb(226,69,16);
    cursor: pointer;
}

